<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/fontello/css/fontello.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  </head>
  <body>
    <div class="auth-background">
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
      <div class="auth-brand"></div>
    </div>
    <div class="login-back"></div>
    <div class="login-box">
      <div class="login-box_logo">
        <img src="/image/nav-logo.svg" alt="" />
      </div>
      <div class="login-slogan">
        더 많은 정보를 보시려면 로그인 하세요
      </div>
      <div class="login-detail">
        간편로그인
      </div>
      <div class="login-col">
        <a href="/auth/google">
          <div class="login-google">
            <img src="/image/google.png" alt="" />
            <div class="login-google-text"><span>Google Login</span></div>
          </div>
        </a>
        <a href="/auth/kakao">
          <div class="login-kakao">
            <img src="/image/kakao.png" alt="" />
            <div class="login-kakao-text">
              <span>Kakao Login</span>
            </div>
          </div>
        </a>
        <a href="/auth/naver">
          <div class="login-naver">
            <img src="/image/naver.png" alt="" />
            <div class="login-naver-text"><span>Naver Login</span></div>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
