<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>COSCUZ - 새로운 안경 플랫폼</title>
    <meta name="title" content="코스커즈 - 새로운 안경 플랫폼" />
    <meta
      name="keywords"
      content="안경,안경테,안경브랜드,해외안경브랜드,안경추,안경쇼핑몰,코스커즈"
    />
    <meta
      name="description"
      content="안경 이제는 온라인에서, 안경원에서 만나 볼 수 없었던 안경"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/fontello/css/fontello.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="nav-bar">
      <div class="nav-bar_name">
        COSCUZ
      </div>
      <div class="nav-bar_icon">
        <span class="icon-menu"></span>
        <div class="nav-bar_icon2">
          <span class="line1"></span>
          <span class="line2"></span>
        </div>
      </div>
      <div class="menu">
        <span class="menu1">THE NEW GLASSES PLATFORM</span>
      </div>
    </div>
    <div class="container1">
      <div class="main-slogan">
        <div class="main-slogan_1">
          Innovation</br> 
          Eyeglass frames /
        </div>
        <div class="main-slogan_2">
         / experience</br> NEW brand
        </div>
      </div>
      <div class="copyright">
        ©COSCUZ. All Rights Reserved.
      </div>
      <div class="image-box">
        <div class="img-coscuz coscuz0"></div>
        <div class="img-coscuz coscuz1"></div>
        <div class="img-coscuz coscuz2"></div>
        <div class="img-coscuz coscuz3"></div>
        <div class="img-coscuz coscuz4"></div>
      </div>
    </div>
    <div class="container2 detail-page">
      <div class="detail-box">
        <div class="contact-box">
          <span class="contact-box_main">
            Contact
          </span>
          <span class="contact-box_email">
            coscuz@naver.com
          </span>
          <span class="contact-box_tel">
            +82-10-7765-2103
          </span>
        </div>
        <div class="what-we-do">
          <span class="what-we-do_main">
            What we do
          </span>
          <span class="what-we-do_detail">
            지금까지 만나 볼 수 없었던 브랜드 마주하게 해드립니다. 기존의 방식에서 벗어나 브랜드 가치를 상승시키고, 최고의 선택으로 후회없는 결정을 할 수 있게 도와드립니다. 끊임없는 브랜드 관찰을 통하여 소비자와 
          </br>긍정적인 관계를 구축하고, 개인의 개성과 브랜드의 개성을 융합하여 또 다른 당신의 이미지를 생성합니다.
          </span>
        </div>
        <div class="why">
          <span class="why-main">
            Why did we start
          </span>
          <span class="why-detail">
            쌓여만 가는 악성 재고로 소비되지 않는 안경테, 그로인해 더 이상 안경원에서는 새로운 브랜드를 만나 볼 수 없고, 수면위로 떠오르지 못하였던 멋진 브랜드를 만나 보고 싶다는 고민에서 '코스커즈'는 시작하였습니다.
            유행을 따르지 않고 안경을 통하여 각자의 새로운 이미지를 만들어 세상에서 단 하나뿐인 당신을 함께 만들어 나가기 위하여 노력하고 있습니다.
          </span>
        </div>
        <div class="brand">
          <span class="brand-main"></span>
        </div>
      </div>
    </div>
    <script src="/javascript/index.js"></script>
  </body>
</html>
