<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>COSCUZ - 새로운 안경 플랫폼</title>
    <meta name="title" content="코스커즈 - 새로운 안경 플랫폼" />
    <meta
      name="keywords"
      content="안경,안경테,안경브랜드,해외안경브랜드,안경추,안경쇼핑몰,코스커즈"
    />
    <meta
      name="description"
      content="안경 이제는 온라인에서, 안경원에서 만나 볼 수 없었던 안경"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/fontello/css/fontello.css" />
    <link rel="stylesheet" href="/SpoqaHanSans" />
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </head>
  <body>
    <div class="nav-bar">
      <span class="nav-bar_name login-name">COSCUZ</span>
      <div class="nav-bar_login">
        로그인
      </div>
      <div class="nav-bar_register">
        회원가입
      </div>
    </div>
    <div class="previous_box">
      <span class="previous_slo">회원가입</span>
      <span class="previous_detail"
        >환영합니다! 회원가입을 통해</br>다양한 브랜드를 만나보세요.</span
      >
      <div class="oauth_box previous_oauth">
        <a href="/auth/google"><div class="google oauth_member"><span class="oauth_img img_google"></span><span>구글</span></div></a>
        <a href="/auth/naver"><div class="naver oauth_member"><span class="oauth_img img_naver"></span<span>네이버</span></div></a>
        <a href="/auth/kakao"><div class="kakao oauth_member"><span class="oauth_img img_kakao"></span<span>카카오</span></div></a>
      </div>
      <div class="email_box">
        <span class="email_slo">또는 기업회원이라이면</span>
        <a href="/auth/register_brand"><span class="email_box_slo">이메일로 가입하기</span></a>
      </div>
      <div class="previous_loginLink">
        <span class="pre_loginLink-slo">이미 회원가입을 하셨나요?</span>
        <a href="/auth/login"><span class="pre_loginLink">로그인</span></a>
      </div>
    </div>
    </div>
    <script src="/javascript/index.js"></script>
  </body>
</html>
