/*  */
.nav-bar {
  position: relative;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.nav-bar_left {
  /* border: 1px solid black; */
  position: absolute;
  left: 15%;
  height: 100%;
  display: flex;
  margin-top: 1px;
  align-items: center;
}
.nav-bar_name {
  font-size: 1.3rem;
}
.nav-bar_name:hover {
  cursor: pointer;
}
.nav-bar_left span {
  margin-right: 35px;
}
.nav-bar_search {
  position: absolute;
  right: 400px;
  top: 50%;
  transform: translate(0, -50%);
  width: 330px;
  height: 60%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}
.search-input {
  position: absolute;
  left: 7%;
  height: 100%;
  width: 80%;
  border: none;
  background-color: transparent;
  outline-style: none;
  font-size: 1rem;
}
.search-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url("../image/search.svg");
  background-repeat: no-repeat;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.8;
}
.nav-bar_login {
  position: absolute;
  top: 52%;
  right: 270px;
  transform: translate(0, -50%);
  color: rgba(0, 0, 0, 0.65);
}
.nav-bar_register {
  position: absolute;
  top: 52%;
  right: 327px;
  transform: translate(0, -50%);
  color: rgba(0, 0, 0, 0.65);
}
.nav-bar_login:hover,
.nav-bar_register:hover {
  cursor: pointer;
}
/*  */
.nav-bar_search_login {
  position: absolute;
  right: 330px;
  top: 50%;
  transform: translate(0, -50%);
  width: 330px;
  height: 60%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}
.search-input_login {
  position: absolute;
  left: 7%;
  height: 100%;
  width: 80%;
  border: none;
  background-color: transparent;
  outline-style: none;
  font-size: 1rem;
}
.search-icon_login {
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url("../image/search.svg");
  background-repeat: no-repeat;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.8;
}
.icon-torso {
  position: absolute;
  right: 270px;
  top: 52%;
  transform: translate(0, -50%);
  font-size: 1.4rem;
  opacity: 0.8;
}
/* brand page */
.brand-page {
  position: relative;
  width: 73%;
  margin: 0 auto;
}
.brand-page_nav-bar {
  border: 1px solid black;
  height: 70px;
}
.brand-page_box {
  margin-top: 70px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 40px;
}
.brand-box {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 7px;
  position: relative;
  width: 380px;
  height: 320px;
  margin-bottom: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}
.brand-box:hover {
  cursor: pointer;
}
.brand-image {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 75%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  /* border: 1px solid black; */
}
.brand-desc {
  /* border: 1px solid black; */
  width: 100%;
  height: 20%;
  position: absolute;
  top: 80%;
}
/*  */
.footer {
  position: absolute;
  width: 100%;
  height: 20%;
}
.footer_coscuz {
  position: absolute;
  left: 15%;
  top: 90%;
  transform: translate(0, -50%);
  font-size: 1.2rem;
}
.footer_copy {
  position: absolute;
  top: 90%;
  transform: translate(0, -50%);
  left: 20%;
}
.footer_icon {
  width: 40px;
  height: 40px;
  border: 1px solid #776e71;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}
.footer_icon:hover {
  cursor: pointer;
}
.line-box {
  /* border: 1px solid black; */
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line-box:hover {
  cursor: pointer;
}
.line1 {
  /* border: 1px solid black; */
  position: absolute;
  width: 70%;
  height: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4%;
  background-color: #776e71;
}
.line2 {
  /* border: 1px solid black; */
  position: absolute;
  width: 5%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #776e71;
}

/*  */
.slide_wrap {
  position: relative;
  margin: auto;
}
.slide_box {
  margin: auto;
  overflow-x: hidden;
}
.slide_content {
  /* background-color: red; */
  display: table;
  width: 100%;
  float: left;
  min-height: 430px;
}
/*  */
.link,
.link:visited {
  display: inline-block;
  margin: 20px 0;
  color: #555;
  text-decoration: none;
  font-weight: bold;
}
.link:hover,
.link:focus {
  color: #9fd6c2;
}
#container {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.slide_content {
  background-color: #666666;
}
.slide_pagination {
  position: absolute;
  left: 50%;
  top: 92%;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translateX(-50%);
  z-index: 99;
}
.slide_pagination .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  overflow: hidden;
  background: #ddd;
  border-radius: 50%;
  transition: 0.3s;
}
.slide_pagination .dot.dot_active {
  background: #333;
}
.slide_pagination .dot a {
  display: block;
  width: 100%;
  height: 100%;
}
.slide_btn_prev,
.slide_btn_next {
  display: none;
}
/*  */
