.nav-bar {
  width: 100%;
  height: 56px;

  display: flex;
  align-items: center;
}
.nav-bar_left {
  position: absolute;
  left: 15%;
}
.nav-bar_right {
  position: absolute;
  right: 15%;
  display: flex;
}
.nav-bar_right_list {
  margin-left: 25px;
}
.container {
  height: 380px;
  background-color: black;
  position: relative;
}
.main-slogan {
  position: absolute;
  background-image: url("../image/logo.svg");
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 15%;
  transform: translate(0, -50%);
}
/* brand page */
.brand-page {
  /* border: 1px solid black; */
  width: 70%;
  position: relative;
  left: 15%;
}
.brand-page_slo {
  font-size: 1.6rem;
  margin-top: 50px;
}
.brand-page_box {
  /* border: 1px solid black; */
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding-bottom: 90px; */
}
.brand-box {
  /* border: 1px solid black; */
  position: relative;
  width: 380px;
  height: 280px;
  margin-bottom: 50px;
}
.brand-image {
  border: 1px solid black;
  position: absolute;
  width: 100%;
  height: 70%;
}
.brand-desc {
  position: absolute;
  top: 80%;
  border: 1px solid black;
}
/*  */
.footer {
  position: absolute;
  width: 100%;
  height: 20%;
}
.footer_coscuz {
  position: absolute;
  left: 15%;
  top: 90%;
  transform: translate(0, -50%);
  font-size: 1.2rem;
}
.footer_copy {
  position: absolute;
  top: 90%;
  transform: translate(0, -50%);
  left: 20%;
}
.footer_icon {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}
.footer_icon_line {
  background-color: black;
}
.line-box {
  /* border: 1px solid black; */
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line1 {
  /* border: 1px solid black; */
  position: absolute;
  width: 70%;
  height: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4%;
  background-color: black;
}
.line2 {
  /* border: 1px solid black; */
  position: absolute;
  width: 5%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}
